
body {
    background-color: #FFFDFA;
}

#start, #start-header {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    color: var(--text-primary);
}

#start-header {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 4px solid var(--bg-fif);
    background-color: #FFFDFA;
    padding: 1.5rem 0;
    justify-content: space-between;
    align-items: center;
}

#start-header h1 {
    font-size: 1.1rem;
}

#start-header h1 span:nth-child(1) {
    display: block;
    line-height: 0.8;
}

#start-header h1 span:nth-child(1) {
    color: var(--bg-tertiary);
}

#start-header h1 span:nth-child(2) {
    opacity: 0.7;
    font-weight: 400;
}

#start-header a {
    align-items: center;
    gap: 0.8rem;
}

.tel-icon {
    background-color: #CCE9D3;
    color: var(--bg-primary);
    border-radius: 100px;
    padding-inline: 0.3rem;
    font-size: 2.2rem;
}

.betty-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    border-radius: 100px;
}

#start {
    padding: 4rem 0 2rem 0;
}

#start .start-head {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.start-options {
    margin: 1.5rem auto;
}

.start-options a {
    padding: 1.2rem 2.5rem;
    margin: 0 auto 1.2rem auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-primary);
    align-items: center;
    gap: 1rem;
    transition-duration: 0.2s;
    max-width: 600px;
    width: 90%;
}

.start-options a:hover {
    color: var(--bg-tertiary);
    border-color: var(--bg-tertiary);
    box-shadow: inset 2px 2px 0 var(--bg-tertiary),
    inset -2px -2px 0 var(--bg-tertiary),
    inset -2px 2px 0 var(--bg-tertiary),
    inset 2px -2px 0 var(--bg-tertiary);
}

.start-options .icon {
    font-size: 2rem;
    color: var(--bg-tertiary);
}

.start-stats, .unlock {
    width: 600px;
    max-width: 90%;
    text-align: center;
    margin: 4.5rem auto;
}

.start-stats {
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.stat-head {
    font-size: 2rem;
    font-weight: 600;
}

.stat-desc {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-top: 0.8rem;
}

.unlock {
    margin-bottom: 0;
    background-color: var(--bg-fif);
    padding: 1.2rem;
    font-size: 1.1rem;
    border-radius: 8px;
}

.unlock>div {
    width: fit-content;
    margin: 0 auto;
}

.unlock .un {
    align-items: center;
    margin-top: 1.2rem;
    gap: 0.8rem;
}

.unlock .icon {
    font-size: 1.3rem;
    color: var(--bg-tertiary);
}

@media (max-width: 768px) {
    #start .start-head {
        font-size: 1.5rem;
    }

    #start {
        padding: 3rem 0 2rem 0;
    }
}
